body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  margin: 0;
  padding: 0;
}

h3{
  font-weight: normal;
}
img {
  max-width:100%;
}

#main-container {
  background-color:white;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: auto;

}

/* NAVBAR - HEADER - - FOOTER - BGR IMAGE*/

.navbar {
  background-color: #1976D2;
  color: #f5f5f5;
  margin: auto;
  opacity: 0.8;
  display: flex;
  width: 100%;

}

.nav__list-ul {
  list-style: none;
  margin:auto;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.nav__list-li {
  font-size: 0.65rem;
  justify-content: center;
}

.nav__list-li-left{
  color:#f5f5f5;
  display: flex;
  justify-content: center;
  width: 40%;
}

.logo{
  width: 80%;
  margin-top: 30px;
  margin-left: 25px;

}

.login-logo{
  width: 100%;
}

.navbar__style{
  color:#f5f5f5;
  text-decoration: none;
}

.hover:hover {
  color: aqua;
  opacity: 0.7;
}

footer {
  background-color: #1976D2;
  color: #f5f5f5;
  display: flex;
  justify-content:space-evenly!important;
  flex-direction: row!important;
  opacity: 0.8;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  font-size: 0.80rem;

}

/* LOGIN */
.login-box{
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

/* Messages */

.grid-container {
  display: grid;
  justify-items: left;
  justify-items: stretch;
  justify-content: stretch;
  align-items: stretch;
  grid-template-columns:20% 10% 60% 10%;
  grid-template-rows: 20% 10% 45% 25%;
  width: 100%;
  font-size: 0.70em;
  grid-template-areas: "Photo Title Title Title" "Username Createdat Createdat Createdat" ". Comments Comments Comments" ". Other Other Other";
}


.grid-container-comment {
  display: grid;
  justify-items: left;
  justify-items: stretch;
  justify-content: stretch;
  align-items: stretch;
  grid-template-columns:30% 10% 60% 0%;
  grid-template-rows: 0% 10% 65% 25%;
  width: 100%;
  font-size: 0.70em;
  grid-template-areas: "Photo Title Title Title" "Username Createdat Createdat Createdat" ". Comments Comments Comments" ". Other Other Other";
}

.messageBox {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  width: 80%;
  background-color: 	white;
  opacity: 0.95;

}
.messagBox-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  width: 80%;
  
}
.Photo { grid-area: Photo; }

.Username { grid-area: Username;
  font-size: 0.65rem; 
}

.Comments { grid-area: Comments; 
font-size: 0.55rem;
font-weight: normal;
}

.Createdat { grid-area: Createdat;
  font-size: 0.50rem; 
  display: flex;
  align-items: flex-end;
}

.Title { grid-area: Title;
  display: flex;
  align-items: center;
  font-size: 0.70em;
}

.Other { grid-area: Other;
  display: flex;
 }


a {
  color: black;
  text-decoration: none; /* no underline */
}
.product__specs {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #221812;
}

#message-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px;
  margin-top: 40px;
}


/*LOGIN/SIGNUP FORM*/

.form {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: auto;
  width: 100%;
}


.form__button{
  justify-content : flex-end;
  width: 60%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}


.form__comment-button{
  display: flex;
  flex-direction: column;
  justify-content : flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.form__comment-button-style1{
  display: flex;
  justify-content :  center;
  width: 30%;
  border: none;
  background-color: #212931;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
  color: white;
  margin: 0rem 5px 0rem 0;
  border: solid #212931 ;
  line-height: 1.5rem;
  border-radius: 7px;  
}

.form__comment-button-style:hover {
  background-color: #FFFAFA;
  color: black;
  border: solid #212931 ;
}
.form__input{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.form__input-title {
  display: flex;
  width: 99%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
 
}

.form__comment-button-style{
  display: flex;
  justify-content : center;
  margin: auto;
  width: 20%;
  border: none;
  height: auto;
  background-color: #212931;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
  color: white;
  border: solid #212931 ;
  margin: 0rem 5px 0rem 0;
  line-height: 1.5rem;
  border-radius: 7px;
  
}
.IconLabelButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}



/* BUTTON */
.btn {
  text-align: center;
}
.btn-style {
  width: 50%;
  border: none;
  height: auto;
  margin: 1rem 0 2rem 0;
  line-height: 1.5rem;
  background-color: #212931;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
  color: white;
  border: solid #212931 ;
  border-radius: 7px
}

.btn-style:hover {
  background-color: #FFFAFA;
  color: black;
  border: solid #212931 ;
}


/***********************************************
Media querries
*/
/* iPhone 5/SE Styles */
@media only screen and (min-width: 300px) and (max-width: 330px) {

}

/* Mobile Styles */
@media only screen and (min-width: 330px) and (max-width: 500px) { 
  .presentation{
      width: 95%;
  }

}
   
/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {



}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  
  .navbar {
    background-color: #1976D2;
    color: #f5f5f5;
    width: 100%;
    margin: auto;
    opacity: 0.8;
    display: flex;
    justify-content: space-evenly;
  }

  .nav__list-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  
  .nav__list-li {
    font-size: 0.65rem;
  }
  
  .nav__list-li-left{
    color:#f5f5f5;
    display: flex;
    justify-content: center;
    width: 40%;
  }
  
  .link{
    justify-content: right;
    margin-right: 25px;
    width: 20%;
  }
  
  .logo{
    width: 15%;
    height: 15px;
    margin-top: 10px;
  }
  
  .login-logo{
  margin-bottom: 50px;
  }
  
  .navbar__style{
    color:#f5f5f5;
    text-decoration: none;
  }
  
  .hover:hover {
    color: aqua;
    opacity: 0.7;
  }
  
  footer {
    background-color: #1976D2;
    color: #f5f5f5;
    margin-top: 50px;
    display: flex;
    justify-content: space-around!important;
    flex-direction: row!important;
    opacity: 0.8;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  
  }
  
  /* LOGIN */
  .login-box{
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 90px;
  }
  
  /* Messages */

  .grid-container {
    display: grid;
    justify-items: left;
    justify-items: stretch;
    justify-content: stretch;
    align-items: stretch;
    grid-template-columns:20% 10% 60% 10%;
    grid-template-rows: 15% 10% 65% 10%;
    width: 100%;
    font-size: 1.5em;
    grid-template-areas: "Photo Title Title Title" "Username Createdat Createdat Createdat" ". Comments Comments Comments" ". Other Other Other";
  }
  
  
  .grid-container-comment {
    display: grid;
    justify-items: left;
    justify-items: stretch;
    justify-content: stretch;
    align-items: stretch;
    grid-template-columns:20% 10% 60% 10%;
    grid-template-rows: 0% 10% 65% 25%;
    width: 100%;
    font-size: 1.5em;
    grid-template-areas: "Photo Title Title Title" "Username Createdat Createdat Createdat" ". Comments Comments Comments" ". Other Other Other";
  }
  

  .messagBox-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    width: 70%;

  }
  .Photo { grid-area: Photo; }
  
  .Username { grid-area: Username;
    font-size: 0.65rem; 
  }
  
  .Comments { grid-area: Comments; 
  font-size: 1.2rem;
  font-weight: normal;
  }
  
  .Createdat { grid-area: Createdat;
    font-size: 0.70rem; 
    display: flex;
    align-items: flex-end;
  }
  
  .Title { grid-area: Title;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    
  }
  
  .Other { grid-area: Other;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
   }
  
  a {
    color: black;
    text-decoration: none; /* no underline */
  }
  
  .product__specs {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #221812;
  }
  
  .message-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    margin-top: 40px;
  }
  /* PROFILE */

  .profil{
    padding-bottom: 65px;
    padding-top: 65px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profil-data{
    width: 60%;
  }

  .button{
    margin-top: 25px;
  }

  .messagBox-flex-profil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    width: 50%;
  }
  /*LOGIN/SIGNUP FORM*/
  
  .form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    text-align: center;
    margin: 50px;
    margin-top: 40px;
 
  }
  
  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 55px;
    width: 50%;
  }

  .form__input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-top: 25px;
  
  }

  .form-flex{
    display: flex;
    justify-content: center;
  }
  
  .form__input-title {
    display: flex;
    margin-top: 25px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
   
  }


  .IconLabelButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  
  /* BUTTON */

  .button-flex {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
  }

}
